NEXT_PUBLIC_WC_PROJECT_ID=efee3824eaa92fa34351c5d64ce0ecef  # Default; do not touch unless you want to use your own.
ATTESTCOIN_NETWORK=testnet    # Or use mainnet
CREDITCOIN_SIGNER_KEY=<a tCTC funded wallet's private key>   # Optional. Do not use your main wallet's private key here, simply create a new wallet, use the official CreditCoin faucet at their discord, and get some test CTC. You can use a real CTC funded wallet too, but that is for mainnet. So be careful.
